body {
    font-family:'Courier10 BT';
    font-size:12pt;
}
.page {
    margin:auto;
    position:fixed;
    left:0pt;
    top:24pt;
    text-align:center;
    height:100%;
    width:100%;
    background-color:#eeeeee;
    overflow-y:auto;
}
.container {
    margin:auto;
    text-align:left;
    width:600px;
    overflow-y:auto;
    padding-left:1in;
    padding-right:1in;
    background-color:white;
}
div.Character {
    text-align:center;
    margin-bottom: 6pt;
    text-transform:uppercase;
}
div.Dialogue {
    margin-left:1in;
    margin-right:1in;
    margin-bottom: 24pt;
}
div.Parenthetical {
    margin-left:1in;
    margin-right:1in;
}
div.Action {
    margin-left:0in;
    margin-right:0in;
}
div.SceneTitle {
    margin-top:36pt;
    margin-bottom:36pt;
}
div.ShotDescription {
    text-transform:uppercase;
    display:block;
}
.header {
    position: fixed;
    display:block;
    left:0pt;
    top:0pt;
    width:100%;
    background-color:gray;
    height:24pt;
    text-align:center;
    color:white;
}
.navSelector {
    left:0pt;
    margin-top:5pt;
}
#cbShowShots {
    color:white;
}
.scriptNavLabel {
    display:run-in;
    float:right;
    width:30pt;
    text-align:left;
    margin-top:-12pt;
}